name: Quality Checks

on:
  push:
    branches:
      - '**'
  pull_request:
  workflow_call:

jobs:
  check:
    name: Check
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - aarch64-unknown-none-softfloat

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly
        with:
          components: rust-src, clippy, rustfmt
          targets: ${{ matrix.target }}

      - name: Check rust version
        run: rustc --version --verbose

      - name: Check code format
        run: cargo fmt --all -- --check

      - name: Build
        run: cargo build --target ${{ matrix.target }} --all-features

      - name: Run clippy
        run: cargo clippy --target ${{ matrix.target }} --all-features -- -D warnings

      - name: Build documentation
        env:
          RUSTDOCFLAGS: -D rustdoc::broken_intra_doc_links -D missing-docs
        run: cargo doc --no-deps --target ${{ matrix.target }} --all-features
