name: Test

on:
  push:
    branches:
      - '**'
  pull_request:
  workflow_call:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        target:
          - aarch64-unknown-none-softfloat

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install Rust toolchain
        uses: dtolnay/rust-toolchain@nightly

      - name: Run tests
        run: cargo test --target ${{ matrix.target }} --all-features -- --nocapture

      - name: Run doc tests
        run: cargo test --target ${{ matrix.target }} --doc
